body {padding-top: 50px;padding-bottom: 20px;font-family: "微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: "微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;}
.display {margin: 20px 0; height: 400px; overflow: auto;position: relative;}
.statistic_display {margin: 20px 0;position: relative;}
a {cursor: pointer;}
.search_condition {padding-top: 20px;}
.current_month {background-color:rgba(220,220,220,0.5); border: thick solid rgba(220,220,220,1); width: 80px; height: 30px; margin-bottom: 10px;}
.previous_month {background-color:rgba(151,187,205,0.5); border: thick solid rgba(151,187,205,1); width: 80px; height: 30px;}
.modal-body{height: 400px;overflow: auto;}
#upload-excle-container .modal-body{height: 150px;}
iframe#uploadFrame{display: none;height: 0;width: 0}
div.upload-tip {position: absolute;right: 5px;bottom: 0; display: none;}
.no-data{color:#a9a9a9}
.loading{background: url("../fonts/loading.gif") no-repeat;width: 32px;height: 32px;position: fixed;top:250px;left: 48%;z-index: 9999}
