<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<substitutionProperty name="log.base" value="logs/teradata" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<!-- <Encoding>UTF-8</Encoding> -->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- <Encoding>UTF-8</Encoding> -->
		<File>${log.base}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="com.teradata.demo">
		<level value="INFO" />
	</logger>
	<logger name="java.sql">
		<level value="INFO" />
	</logger>
	<logger name="org.apache">
	  <level value="INFO"/>
	</logger>
	<logger name="org.springframework">
		<level value="INFO" />
	</logger>
	<logger name="net.sf.ehcache">
		<level value="INFO" />
	</logger>
    <logger name="net.sf">
        <level value="INFO" />
    </logger>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root>
</configuration>

